.container {
  display: flex;
  height: 100vh;
}

/* LEFT */
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  gap: 1rem;
  background-color: #ffffff;
}

.left h1 {
  color: var(--cor-azul-dark);
  font-size: 4rem;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* TEXT */
.forgot {
  font-size: 13px;
  color: var(--cor-azul-dark);
  cursor: pointer;
  transition: 0.2s;
  text-decoration: underline;
}

/* RIGHT */
.right {
  flex: 1;
  background-color: var(--cor-azul);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.rightContent {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
  gap: 1rem;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .right {
    display: none;
  }

  .left {
    padding: 30px;
  }
}