.input {
  width: 30rem;
  padding: 12px;
  height: 2rem;
  background-color: var(--cor-cinza);
  border: none;
  border-radius: 1rem;
  font-size: 16px;
  text-indent: 10px;
  padding: 1.5rem;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--cor-azul);
}